/* переменные */

:root {
  --grid-width: 70px;
  --grid-indent: 30px;
}

$color-primary: #757575; //--color-main
$color-secondary: #000; //--color-third
$color-title: #212121; //--color-title
$color-accent: #2196f3; //--color-fourth
$color-accent-text: #fff; //--color-fifth
$color-transparent: rgba(255, 255, 255, 0.6); //--color-fifth-transparent
$color-background-main: #fff;
$color-background-second: #2f303a;
$color-background-third: #f5f4fa;
$color-background-hero: rgba(47, 48, 58, 0.4); //--color-hero-background
$color-social-network-main: #afb1b8;
$color-social-network-footer-transparent: rgba(255, 255, 255, 0.1);
