/* - - - раздел "заказать услугу" - - - */

.hero {
  // подбор правильной фоновой картинки
  @media (max-width: 480px) {
    @media (min-device-pixel-ratio: 1), (min-resolution: 96dpi), (min-resolution: 1dppx) {
      background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url('../images/hero/mobile@1.jpg');
    }
  }
  @media (max-width: 480px) {
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url('../images/hero/mobile@2.jpg');
    }
  }
  @media (min-width: 481px) and (max-width: 768px) {
    @media (min-device-pixel-ratio: 1), (min-resolution: 96dpi), (min-resolution: 1dppx) {
      background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url('../images/hero/tablet@1.jpg');
    }
  }
  @media (min-width: 481px) and (max-width: 768px) {
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url('../images/hero/tablet@2.jpg');
    }
  }
  @media (min-width: 769px) {
    @media (min-device-pixel-ratio: 1), (min-resolution: 96dpi), (min-resolution: 1dppx) {
      background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url('../images/hero/desktop@1.jpg');
    }
  }
  @media (min-width: 769px) {
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url('../images/hero/desktop@2.jpg');
    }
  }

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 118px;
  padding-bottom: 118px;
  @media screen and (min-width: 1200px) {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

/* главный заголовок */

.hero__title {
  color: $color-accent-text;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.615;
  @media screen and (min-width: 1200px) {
    font-size: 44px;
    line-height: 1.363;
  }

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-top: 0%;
  margin-bottom: 0;
}

/* кнопка "заказать услугу" */

.hero__button {
  margin-top: 30px;
  display: block;
  margin-right: auto;
  margin-left: auto;
  @include main-button(32px, 32px);
}
