/* - - - раздел "наша команда" - - - */
.team__section {
  background-color: $color-background-third;
}

.team {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
  &__item {
    background-color: $color-background-main;
    margin: 15px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    &__item {
      @include width__function(2);
    }
  }
  @media screen and (min-width: 1200px) {
    &__item {
      @include width__function(4);
    }
  }
}

.team__member {
  padding-top: 30px;
  padding-bottom: 30px;

  &-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-align: center;
    color: $color-title;
  }

  &-post {
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 0;
  }
}

/* контейнер соцсетей */

.social-network {
  margin-top: 16px;
  display: flex;
  justify-content: center;

  @include soc-container($color-social-network-main, $color-background-main);
}
