/* - - - раздел "зачем выбирать нас" - - - */

.why-us__icon-container {
  display: flex;
  margin-bottom: 30px;
  background-color: $color-background-third;
  height: 120px;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
}

.why-us__icon {
  width: 70px;
  height: 70px;
  background-position: center;
}

.why-us {
  display: block;
  &__item:not(:last-child) {
    margin-bottom: 30px;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
    &__item {
      @include width__function(2);
    }
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    margin: -15px;
    &__item {
      margin: 15px;
    }
  }
}

.why-us__title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
  color: #212121;
  @media screen and (max-width: 767px) {
    text-align: center;
  }
}

.why-us__text {
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
}
