/* - - - раздел "чем мы занимаемся" - - - */
@media screen and (max-width: 1199px) {
  .work__section {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .work__section {
    padding-top: 0;
  }

  .work {
    display: flex;
    flex-wrap: wrap;

    &__item {
      position: relative;
      flex-basis: calc((100% + var(--grid-indent)) / 3 - var(--grid-indent));
      margin-right: var(--grid-indent);

      &:nth-child(3n) {
        margin-right: 0;
      }
    }
  }

  .work__text {
    position: absolute;
    width: 100%;
    height: 70px;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.142;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $color-accent-text;
    background-color: rgba(47, 48, 58, 0.8);
  }
}
