/* - - - Шапка - - - */

.header {
  position: relative;

  margin-bottom: 0;
  height: 80px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ececec;
}

.container-header {
  display: flex;
}

/* навигация в шапке */

.nav {
  display: flex;
  align-items: center;
  width: 100%;
}

// меню на телефоне

.menu__button {
  display: inline-flex;
  margin: 0;
  margin-left: auto;
  padding: 0;
  border: none;
  background-color: transparent;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 11;
  @media screen and (min-width: 768px) {
    display: none;
  }

  &:hover,
  &:focus {
    fill: $color-accent;
  }

  & .icon--cross {
    display: none;
  }

  &.is-open .icon--cross {
    display: block;
  }

  &.is-open .icon--menu {
    display: none;
  }
}

.menu__container {
  @media screen and (max-width: 767px) {
    display: block;
    top: calc(100% - 80px);
    max-width: 480px;
    position: absolute;
    transform: translate(-50%, -100%);
    left: 50%;
    width: 100%;
    background-color: $color-background-main;
    padding: 48px 40px;
    text-align: center;
    font-size: 20px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);

    &.is-open {
      display: block;
      z-index: 10;
      transform: translate(-50%, 0%);
    }
  }
  @media screen and (min-width: 768px) {
    display: flex;
    width: 100%;
    align-items: center;
  }
}
/* контакты в шапке */

.header-contacts {
  display: flex;
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    flex-flow: column;
    &__item:not(:last-child) {
      margin-bottom: 10px;
    }
  }
  @media screen and (min-width: 1200px) {
    &__item:not(:last-child) {
      margin-right: 50px;
    }
  }
  @media screen and (max-width: 767px) {
    flex-direction: column-reverse;
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
    &__tel {
      font-size: 34px;
      line-height: 1.176;
      color: $color-accent;
      margin-bottom: 32px;
    }
    &__mail {
      font-size: 24px;
      line-height: 1.167;
      color: inherit;
    }
    &__item {
      display: flex;
    }
    &__item:not(:last-child) {
      margin-bottom: 32px;
    }
  }
  @media screen and (min-width: 768px) {
    margin-left: auto;
    align-self: center;
    &__mail,
    &__tel {
      align-items: center;
      display: flex;
      color: $color-primary;
      font-weight: 500;
      font-size: 14px;
      line-height: 1.142;
      letter-spacing: 0.02em;
    }
  }
  &__icon {
    @media screen and (max-width: 767px) {
      display: none;
    }
    @media screen and (min-width: 768px) {
      margin-right: 10px;
      fill: currentColor;
    }
  }
}

/* навигационные ссылки */

.nav__list {
  @media screen and (max-width: 767px) {
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
  }
  @media screen and (min-width: 768px) {
    display: flex;
  }
}

.nav__item {
  @media screen and (max-width: 767px) {
    margin-bottom: 32px;
    &:last-child {
      margin-bottom: 302px;
    }
  }
  @media screen and (min-width: 768px) {
    margin-right: 50px;
    &:last-child {
      margin-right: 0;
    }
  }
}

.nav__link {
  position: relative;
  display: flex;
  color: $color-secondary;
  font-weight: 500;
  min-height: 16px;
  font-size: 40px;
  line-height: 1.175;
  @media screen and (min-width: 768px) {
    padding-left: 0;
    font-size: 14px;
    line-height: 1.142;
  }
  letter-spacing: 0.02em;

  // подчеркивание текущей страницы
  @media screen and (min-width: 768px) {
    &--current {
      color: $color-accent;
      &::after {
        content: '';
        position: absolute;
        height: 4px;
        width: 100%;
        right: 0;
        background-color: $color-accent;
        bottom: -32px;
        border-radius: 2px;
        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
      }
    }
  }
}

// соцсети
.header-social-network {
  display: flex;
  flex-wrap: wrap;
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.header-social-network__item {
  &:not(:last-child) {
    position: relative;
    margin-right: 20px;
    &::after {
      content: '';
      right: -10px;
      position: absolute;
      height: 22px;
      border: 1px solid rgba(33, 33, 33, 0.2);
    }
  }
}

.header-social-network__link {
  font-size: 18px;
  line-height: 1.222;
  color: $color-accent;
}
