/* - - - Шапка - - - */

.header {
  margin-bottom: 0;
  height: 80px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ececec;
}

.container-header {
  display: flex;
}

/* навигация в шапке */

.nav {
  display: flex;
  align-items: center;
}

/* контакты в шапке */

.header-contaсts {
  display: flex;
  margin-left: auto;
  align-self: center;
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    flex-flow: column;
    &__item:not(:last-child) {
      margin-bottom: 10px;
    }
  }
  @media screen and (min-width: 1200px) {
    &__item:not(:last-child) {
      margin-right: 50px;
    }
  }

  &__link {
    align-items: center;
    display: flex;
    color: $color-primary;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.142;
    letter-spacing: 0.02em;
  }

  &__icon {
    margin-right: 10px;
    fill: currentColor;
  }
}

/* навигационные ссылки */

.nav__list {
  display: flex;
}

.nav__item {
  margin-right: 50px;
  &:last-child {
    margin-right: 0;
  }
}

.nav__link {
  position: relative;
  display: flex;
  color: $color-secondary;
  font-weight: 500;
  min-height: 16px;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.02em;

  // подчеркивание текущей страницы
  &--current::after {
    content: '';
    position: absolute;
    height: 4px;
    width: 100%;
    right: 0;
    background-color: $color-accent;
    bottom: -32px;
    border-radius: 2px;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
